.footer{
    width: 100%;
    height: 100%;
    text-align: center;
    font-family: sans-serif;
}
.footer_first{
    width: 100%;
    height: 20%;
    display: flex;
}

.first_column, .second_column, .third_column{
  margin-left: 15px;
  margin-right: 15px;
    width: 33%;
}
.features{
    display: flex;
    text-align: left;
    justify-content: space-around;
    font-size: 0.8rem;

}
.features p{
    margin-bottom: 25px;

}
.second_column .features_two{
    margin-left: 7px;
}

.footer_second{
    width: 100%;
    height: 103%;
    color: white;

    display: flex;
    background-color: black;
}
.footer_second_a{
    height: 80%;
    display: flex;
}
.footer_logo{
    width: 30%;
    display: flex;
    align-items: center;
    justify-content: center;
    
}
.footer_logo img{
    
    width: 80%;
    height: 25%;
}
.footer_home{
    width: 27%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
   
}
.footer_home p a{
    text-decoration: none;
    color: white;
    text-align: justify;
}
.follow_us{
    width: 43%;
    display: flex;
    flex-direction: column;
align-items: center;
    
}
.footer_second_b{
    height: 20%;

}
.socail_media_logo{
    width: 50%;
    display: flex;
    justify-content: space-evenly;

}
.phone_no{
    display: flex;
    align-items: center;
    justify-content: center;
}