.map{
display: flex;
height: 75vh;
background-color: rgb(245, 244, 244);
font-family: 'Courier New', Courier, monospace;
}

.map_section{
    width: 50%;
    
}
.categories{
    width: 50%;
    margin-left: 10px;
    text-align: center;
   
}
.mapp{
        position: relative;
    
        
    
}