.header{
    width: 100%;
    height: 10vh;
    display: flex;
    justify-content: space-around;
    box-shadow: 1px 1px 8px 1px #888888;;
    background-color: white;
    position: sticky;
    
}

.img{
    width: 20%;
    display: flex;
    align-items: center;
    
}
.img img{
    width: 90%;
    height: 50%;
}
.header_features{
    width: 75%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}
.header_features p{
    display: flex;
    align-items: center;
}
.header_features p a{
     text-decoration: none;
     color: black;
     font-size: 1.5 rem;
     text-align: center;
}
.header_features p a:hover{
    border-bottom: 2px solid rgb(219, 221, 221);
}
